<IfModule mod_rewrite.c>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f [OR]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.+)-([a-zA-Z0-9-/]+)/?$ index.php?page=$1&hal=$2 [NC,L]
RewriteRule ^([^/.]+)$ index.php?page=$1 [L]
RewriteRule ^halaman/([^/.]+)$ 404.html
Options -Indexes
ErrorDocument 404 http://localhost/simpeg-tlm/pagenotfound/
</ifModule>